html,body
{
    overflow-x: hidden;
}
.topnavbar{
    height: 65px;
}
.flipkartlogo1{
    height: 15px;
}
.btnfipkart{
    visibility: hidden;
}
.btngrocery{
    visibility: hidden;
}
.logoflipkart{
    height: 40px;
    position: relative;
    right: 160px;
}
.searchbox{
    width: 700px;
    border: none;
}
.searchbox1{
    position: relative;
    right: 120px;
}
.navuserservice{
    position: relative;
    left: 920px;
    bottom: 40px;
}
.singinbtn{
    border: none;
}
.txtsingin{
    font-size: 17px;
    color: black;
}
.txtsingin:hover{
    color: white;
}
.itemslogo{
    overflow-x: auto;
    justify-content: center;
    
}
.itemslogo::-webkit-scrollbar{
    width: 0;
}
.alllogo{
   min-width: 225px;
   line-height: 35px;
   text-align: center;
   /* border: 1px solid black; */
}
.navbtnoption:hover{
    background-color: lightgray;
}
.btnrightarrow{
    margin-left: 166px;
    height:70px;
    width: 40px;
}
.btnleftarrow{
    margin-right: 166px;
    height:70px;
    width: 40px;
}
.sbicardimg{
    width: 100%; 
    height: 130px;
}
.sbicardbg{
    width:100%;
}
.bestmobilebox{
    overflow-x: auto;
    justify-content: start;
    /* border: 2px solid rebeccapurple; */
    width: 80%;
}
.bestmobilebox::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 767px) {
    .topnavbar{
        height: 125px;
    }
    .flipkartlogo1{
        height: 23px;
        visibility: visible;
    }
    .btnfipkart{
        height: 40px;
        width: 180px;
        visibility: visible;
    }
    .btngrocery{
        height: 40px;
        width: 176px;
        visibility: visible;
        background-color: #989898;
    }
    .searchbox1{
        height: 40px;
        width: 370px;
        position: relative;
        right: 0px;
        bottom: 20px;
        }
    .navlogoimage{
        height: 58px;
    }
    .navpara{
        font-size: 13px;
        color: lightslategray;
    }
    .itemslogo{
        justify-content:flex-start;
        position: relative;
        bottom: 5px;
        /* background-color: #F8F8F8; */
        padding: 6px;
        width: 375px;
        /* border: 2px solid lightgray; */
        background-color: white;
    }
    .alllogo{
       max-height: 100px;
    }
    .carouselcard{
        position: relative;
        bottom: 20px;
    }
    .sbicardimg{
        height: 40px;
    }
    .sbicardbg{
        position: relative;
        bottom: 25px;
    }
}

@media only screen and  (min-width: 768px) and (max-width: 1200px){

}