html,body
{
    /* width: 100%; */
    overflow-x: hidden;
}
.topnavbar{
    height: 65px;
}
.flipkartlogo1{
    height: 15px;
    visibility: hidden;
}
.btnfipkart{
    visibility: hidden;
}
.btngrocery{
    visibility: hidden;
}
.logoflipkart{
    height: 40px;
    position: relative;
    right: 160px;
}
.searchbox{
    width: 700px;
    border: none;
}
.searchbox1{
    width: 720px;
    position: relative;
    right: 120px;
}
.navuserservice{
    position: relative;
    left: 920px;
    bottom: 40px;
}
.singinbtn{
    border: none;
}
.txtsingin{
    font-size: 17px
}
.txtsingin:hover{
    color: white;
}
.navbtnoption{
    border: none;
}
.navbtnoption:hover{
    background-color: lightgray;
    border: 1px solid gray;
}
.btnrightarrow{
    margin-left: 166px;
    height:70px;
    width: 40px;
    background-color: white;
}
.btnleftarrow{
    height:70px;
    width: 40px;
    margin-right: 166px;
    background-color: white;
}
.itemslogo{
    max-height: 130px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
}
.itemslogo::-webkit-scrollbar{
    width: 0;
}
.alllogo{
   min-width: 130px;
   height: 130px;
   line-height: 35px;
   text-align: center;
   /* border: 1px solid black; */
   background-color: white;
}


@media only screen and (max-width: 767px) {
    .topnavbar{
        height: 120px;
    }
    .logoflipkart{
       visibility:hidden; 
    }
    .flipkartlogo1{
        height: 20px;
        visibility: visible;
    }
    .btnfipkart{
        height: 40px;
        width: 180px;
        visibility: visible;
    }
    .btngrocery{
        height: 40px;
        width: 170px;
        visibility: visible;
        background-color: #989898;
    }
    .searchbox1{
        height: 40px;
        width: 370px;
        position: relative;
        right: 0px;
        bottom: 20px;
        }
    .navlogoimage{
        height: 60px;
    }
    .navuserservice{
        /* visibility: hidden; */
    }
    .navpara{
        font-size: 12px;
    }
    .itemslogo{
        justify-content:flex-start;
        position: relative;
        bottom: 5px;
        background-color: #F8F8F8;
        padding: 6px;
    }
    .alllogo{
       min-width: 125px;
       max-height: 100px;
    }
    .carouselcard{
        position: relative;
        bottom: 30px;
        background-color:#f9fafc;
        height: 130px;
    }
    .btnrightarrow{
        margin-left: 16px;
        height:60px;
        width: 20px;
    }
    .btnleftarrow{
        height:60px;
        width: 20px;
        margin-right: 20px;
    }


}

@media only screen and  (min-width: 768px) and (max-width: 1200px){

}